.sidebar {
  width: 100%;
  background-color: aquamarine;
  border: 2px solid #9b7e52;
  border-top-width: 0px;
  border-left-width: 0px;
  border-radius: 25px;
  padding: 15px;
}
.profile-pic {
  height: 20vh;
  width: auto;
  border-radius: 1.5rem;
  box-shadow: 10px 10px 10px #000000;
}

.sidebar h3 {
  margin: 1% 0;
}

.normal-text {
  text-align: justify;
  word-wrap: break-word;
  white-space: pre-line;
  width: 95vw;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
