#chart
{
    padding: 1vh 0;
    align-self: center;
}
#skills-title
{
    width: 95%;
    text-align: center;
    align-self: center;
    justify-self: center;
    margin: 0 5%;
}
#skill-logos
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap:20%;
}

#skills
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.logos
{
    display: flex;
    flex-direction: row;
    gap: 10%;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
    /* margin-left: 3%; */
}
.logo
{
    width: 2.2vh;
    height: 2.2vh;
    padding: 5px;
    border: 0.5px solid #9b7e52;
    border-left: 0px;
    border-top: 0px;
    border-radius: 30%;
    margin-left: 0%;
}
.column
{
    display: flex;
    flex-direction: column;
    gap:50%;
}
#english{
    width: 95%;
    text-align: center;
    align-self: center;
    justify-self: center;
    margin: 0.5%;
}
